:root {
  --bg: #f5f7fb;
  --blue: #1489fd;
  --lightblue: #77b9fb;
  --fadedblue: #d5e9fe;
  --lightfaded: #f1f6fb;
  --green: rgb(136, 253, 136);
  --lightgreen: rgb(175, 255, 175);
  --red: rgb(255, 204, 204);
  --lightred: rgb(255, 228, 228);
  --faded: rgb(237, 237, 254);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
